* {
  margin: 0;
  user-select: none;
  font-size: 1vh;
}

.dg.ac {
  z-index: 1 !important;
}

.popup3d_location {
  pointer-events: none !important;
}

.popup3d_enviroment_detail .popup-close {
  right: 6% !important;
  top: -108% !important;
}

.popup3d_location_region p {
  font-size: 2.6vh;
}

.popup3d_location_region .popup-close {
  right: 1.5vw !important;
  top: -43vh !important;
  scale: 1.5;
}

.popup3d_monitor_detail .popup-close {
  right: 7% !important;
  top: -71.5% !important;
  scale: 2;
}

.popup3d_person_detail {
  pointer-events: none !important;
}

.popup3d_person_detail .popup-close {
  right: -26vw !important;
  top: -6vh !important;
  scale: 1.5;
}

.popup3d_main_machine .popup-close {
  scale: 2;
  right: -10vw !important;
  top: -18vh !important;
}

.publicBtn {
  pointer-events: all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./assets/2d/fonts/YouSheBiaoTiHei.ttf');
  font-weight: normal;
  font-style: normal;
}

@keyframes myrotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes environment_alert {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}
