* {
  margin: 0;
  user-select: none;
  font-size: 1vw;
}

.dg.ac {
  z-index: 1 !important;
}


.popup3d_enviroment_detail .popup-close {
  right: 6% !important;
  top: 7% !important;
}

.publicBtn {
  pointer-events: all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}