* {
  margin: 0;
  user-select: none;
  font-size: 1vh;
}

.dg.ac {
  z-index: 1 !important;
}

.popup3d_location {
  pointer-events: none !important;
}

.popup3d_enviroment_detail .popup-close {
  right: 6% !important;
  top: -108% !important;
}

.popup3d_location_region p {
  font-size: 2.6vh;
}

.popup3d_location_region .popup-close {
  right: 1.5vw !important;
  top: -43vh !important;
  scale: 1.5;
}

.popup3d_person_detail {
  pointer-events: none !important;
}

.popup3d_person_detail .popup-close {
  right: -20.5vw !important;
  top: 0 !important;
}

.publicBtn {
  pointer-events: all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./assets/2d/fonts/YouSheBiaoTiHei.ttf');
  font-weight: normal;
  font-style: normal;
}